.admin {
  margin-top: 20px;
  text-align: left;
}

.delete {
  background-color: #fff;
  border: 1px solid #c9ca9b;
  border-radius: 5px;
  font-weight: 700;
  padding: 10px;

  &:hover {
    background-color: #c9ca9b;
    transition: 300ms ease-in-out;
  }
}

.back {
  margin-top: 10px;
  text-align: left;
}
